<div class="container">
	<div class="CV">
		<div class="CV_izq">
			<img class="CV_img" src="https://avatars.githubusercontent.com/u/68317985"> 
			<h3>Perfil</h3>
			<p>Me considero nativo en linux, me encanta explorar diferentes micro-universos de vida y siempre busco la manera
			de vivir de manera sostenible y respetuosa con el medio ambiente.
			</p>
			<h3>Contacto:</h3>
			<span>+54911----</span>
			<br>
			<h3>Website</h3>
			<a href="https://juanchumu.github.io/Briefcase">¡Estas Aqui!</a>
			<br>
			<h3>Email</h3>
			<span>Ricard''''9045@gmail.com</span>
			<br>
			<h3>Ubicacion Actual</h3>
			<span>Moreno, Prov. Buenos Aires 🇦🇷</span>
			<br>
			



		</div>
		<div class="CV_der">
		<h1>Juan Jara</h1>
		<h3>Educacion:</h3>
		<hr>
		<br>
		<span class="en_negrita">Lic. en Ciencias Biologicas</span>
		<br>
		<span class="en_grisito">Universidad Nacional de Lujan</span>
		<br>
		<span class="en_grisitoclaro">2015-Actualidad</span>
		<br>
		<br>
		<span class="en_negrita">Marinero de Puente</span>
		<br>
		<span class="en_grisito">EFOCAPEM "Escuela Nacional Superior de Salvamento y Buceo</span>
		<br>
		<span class="en_grisitoclaro">2020, poseo libreta de embarco</span>
		<br>
		<span class="en_negrita">Cursos de Programacion:</span>
		<br>
		<br>
		<span class="en_negrita">HTML/CSS/Javascript/Typescript/Nodejs/Angular</span>
		<br>
		<span class="en_grisito">Via cursos online no certificados</span>
		<br>
		<span class="en_grisitoclaro">mediados de 2020</span>
		<br>
		<br>
		<span class="en_negrita">Curso introductorio de Python Online</span>
		<br>
		<span class="en_grisito">IEEE-ITBA</span>
		<br>
		<span class="en_grisitoclaro">2021</span>
		<br>
		<br>
		<span class="en_negrita">Curso de Programacion en R</span>
		<br>
		<span class="en_grisito">Universidad Nacional de Lujan</span>
		<br>
		<span class="en_grisitoclaro">Julio 2022 (32hs)</span>
		<br>
		<br>
		<br>
		<h3>Experiencia Laboral</h3>
		<hr>
		<br>
		<span class="en_negrita">Desde: Septiembre 2018 / Hasta: Diciembre 2019</span>
		<br>
		<span>Empresa: Universidad Nacional de Luján ,Argentina</span>
		<br>	
		<span>Sector/Industria: Dpto. Cs. Básicas</span>
		<br>
		<span>Puesto: Ayudante De Biologia Gral. II</span>
		<br>
		<span>Area: Tecnologías</span>
		<br>
		<span>Responsabilidades: Preparación de Muestras Histologías para observación microscópica y</span>
		<br>
		<span>Referencias: Dr. Maria Elena Saenz</span>
		<br>
		<br>
		<br>
		<br>
		<span class="en_negrita">Desde: Octubre 2022 / Hasta: Actualidad </span>
		<br>
		<span class="en_grisito">Pasantia Interna Rentada UNLu</span>
		<br>
		<span class="en_negrita">Diagnostico de estado ecologico de los suelos utilizando indicadores biologicos de varios niveles de organizacion.</span>
		<br>
		<br>
		<br>
		<h3>Capacidades y Comentarios</h3>
		<hr>
		<br>
		<span class="en_negrita">Desempeño en Laboratorio</span>
		<br>
		<br>
		<span class="en_grisito">Protocolos - materiales</span>
		<br>
		<br>
		<span>Manejo de GoogleDrive</span>
		<br>
		<br>
		<span>Manejo de herramientas electricas</span>
		<br>
		<br>
		<span>Poseo movilidad propia</span>
		<br>
		<br>
		<span>Dominio de idiomas: Ingles, bastante fluido</span>
		<br>
		<br>
		<span>Programacion de arduino (tengo unos cuantos proyectos que deberia subir)</span>
		<br>
		<br>
		<span>Mi S.O. preferido es Lubuntu </span>

		</div>
	</div>


