
/*Fuentes*/

@font-face {
font-family: "astroarmada";
src: url("../fonts/astroarmada.ttf");
}
/*Retoques del Body*/
body{
  margin-left: 0px;
  margin-right: 0px;
}
/* Retoques del header */

header{
  display: block;
  width: 100%;
}

header .Panel_Superior{
  display: block;
  background-color: rgba(81, 75, 255, 0.5);
  height: 20px;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px 0px 30px black inset;
}
.Briefcase_header_walls{
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(40, 39, 61);
}
.Inside_Briefcase_header{
  padding-left: 10px;
  padding-right: 10px;
  background: url("../img/magnolia-3324074_128.png");
  background-position: center;
}

.Titulo_inside_Briefcase{
  font-family: "astroarmada", monospace;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 40%;
  text-align: center;
  display: block;
  background-color: #aaa;
  border: 2px solid #9b9b9b;
  border-radius: 15px;
  margin: auto;
  margin-top: 0px;
}
.Titulo_inside_Briefcase_Android{
  font-family: "astroarmada", monospace;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  text-align: center;
  display: block;
  background-color: #aaa;
  border: 2px solid #9b9b9b;
  border-radius: 15px;
  margin: auto;
  margin-top: 0px;
}
.Pestanias{
  width: 90%;
  margin: auto;
}
.Pestanias_Android{
  width: 90%;
  margin: 0px;
}
header ul{
  padding-left: 0px;
  text-align: left;
  display: inline-block;
  margin-bottom: 0px;
}

header ul li{
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  line-height: 60px;
  padding-left: 0px;
  padding-right: 5px;
}
header ul li a{
  display: block;
  padding-right: 8px;
  padding-left: 8px;
  height: inherit;
  text-decoration: none;
  color: black;
  transition: all 300ms;
  background: #33ffe2;
  border-radius: 10px 10px 0px 0px;
  width: 80px;
}

header a:hover, .active{
  background: rgb(253, 255, 143);
  }



/*Contenedor Principal*/

.Briefcase_section_walls{
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(40, 39, 61);
}
.Briefcase_section_walls_Android{
}
.Inside_Briefcase_section{
  padding-left: 10px;
  padding-right: 10px;
  background: url("../img/magnolia-3324074_128.png");
  background-position: center;
}
.Inside_Briefcase_section_Android{

}

#Briefcase_Contenido{

  min-height: 600px;
  height: auto;
  width: 90%;
  margin: 0px auto;
  box-shadow: 0px 0px 40px black;
  border-left: 1px solid #b7b7b7;
  border-right:  1px solid #b7b7b7;
  background: rgba(253, 255, 177);
  padding-top: 20px;

}
#Briefcase_Contenido_Android{

  min-height: 600px;
  height: auto;
  width: 100%;
  margin: 0px auto;
  box-shadow: 0px 0px 40px black;
  border-left: 1px solid #b7b7b7;
  border-right:  1px solid #b7b7b7;
  background: rgba(253, 255, 177, 0.7);
  padding-top: 20px;

}
.container{
  display: block;
  background-color: white;
  margin-left: 25px;
  margin-right: 35px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid black;
  box-shadow: 10px 10px gray;
}

/*Pie de pagina*/

footer{
  display: block;
  text-align: center;
  padding-top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(81, 75, 255, 0.5);
  box-shadow: 0px 0px 30px black inset;
  border-radius: 15px;
}

#heading-Asa{
  font-family: "astroarmada", monospace;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 40%;
  text-align: center;
  display: block;
  background-color: #aaa;
  border: 2px solid #9b9b9b;
  border-radius: 15px;
  margin: auto;
  margin-top: 0px;
}


/*Comun entre componentes*/
.h1_component{
  text-decoration: underline;
}

/*Componente Error*/

.error_not_found{
  margin: auto;
  width: 200px;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
}
.error_not_found_number{
  font-size: 40px;
}
.span_error{
  padding-top: 20px;
  display: block;
  margin:auto;
  text-align: center;

}
/*Componente Blog*/



/*Componente About*/
.logo_unlu{
  position: absolute;
  animation: girologounlu 5s infinite;
}
@@keyframes girologounlu {
  from {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
  }
  to {
    transform-style: preserve-3d;
    transform: rotateY(60deg);

  }

}


/**/
/**/
